# Deploy to Docker Hub
# See <https://hub.docker.com/repository/docker/jvconseil/jekyll-docker/general>
# Copyright (c) 2019-2023 JV-conseil, All rights reserved
name: "Publish Docker image"

on:
  push:
    branches:
      - main
  schedule:
    # “At 04:00 on day-of-month 1.” See <https://crontab.guru/#0_4_1_*_*>
    # * is a special character in YAML so you have to quote this string
    - cron: "0 4 1 * *"

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 360

    name: "Deploy"

    steps:
      - name: Check out the repo
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push Docker image
        id: push
        uses: docker/build-push-action@v6
        with:
          # context: .
          # file: ./Dockerfile
          push: true
          tags: user/app:latest
          labels: user/app:latest
